<div class="sidebar">
  <h2>INVENTORY APP</h2>

  <ul class="topList">
    <li><a href="/catalog">Home</a></li>
    <li><a href="/catalog/brands">All brands</a></li>
    <li><a href="/catalog/categories">All categories</a></li>
    <li><a href="/catalog/items">All items</a></li>
  </ul>
  <hr />
  <ul class="bottomList">
    <li><a href="/catalog/brand/create">Create brand</a></li>
    <li><a href="/catalog/category/create">Create category</a></li>
    <li><a href="/catalog/item/create">Create item</a></li>
  </ul>
</div>
